<div class="main-wrapper">
    <div class="left-side">
        <div class="left-name1 side-animated"><em>Csönge Balázs</em></div>
        <div class="left-name2 side-animated"><em>Mösziő Xonzs</em></div>
    </div>
    <div class="main-content">
        <div class="main-header">
            <div class="top-name1 top-animated"><em>Csönge Balázs</em></div>
            <div class="top-name2 top-animated"><em>Mösziő Xonzs</em></div>
        </div>
        <div class="main-body">
            <div class="under">
                <a href="https://balagex.github.io/akciok">
                    <img border="0"
                         alt="Az oldal készítés alatt áll"
                         src="/assets/under2.jpg"
                         width="200"
                         height="100">
                </a>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="right-name1 side-animated"><em>Mösziő Xonzs</em></div>
        <div class="right-name2 side-animated"><em>Csönge Balázs</em></div>
    </div>
</div>